/* General styles for the body */
body {
    margin: 0;
    font-family: 'MainDialoge', sans-serif; /* Use custom font */
    background-color: #111;
    color: white;
    text-align: center;
  }
  
  /* Define custom font */
  @font-face {
    font-family: 'MainDialoge';
    src: url('/font/MainDialoge SDF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  * {
    box-sizing: border-box; /* Include padding and border in element's total size */
  }
  
  /* Styles for the preloader */
  #preloader {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Styles for the loading image */
  #preloader img {
    width: 220px; /* Updated size */
    height: auto;
    margin-bottom: 1rem;
    animation: bobbing 1s ease-in-out infinite;
  }
  
  /* Keyframes for the bobbing animation */
  @keyframes bobbing {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  
  /* Styles for the main content */
  #main-content {
    display: none;
    padding: 2rem;
    background-image: url('/assets/cg11_1.png'); /* Add background image */
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: white; /* Ensure text is visible on the background */
    min-height: 100vh; /* Ensure the content area covers at least full screen height */
  }